.sistable
	tr
		border:
			bottom: 1px solid $base-color
		th, td
			padding: 0.3em
			vertical:
				align: top

		th
			@include background-gradient($base-color, 'matte')
			color: white

		&.sisrow2
			background:
				color: darken($list-bg-color, 10%)
		&.myteam
			td
				background:
					color: $base-color
				color: white


.sistag
	font:
		size: 0.7em
